h2 {
	display: inline;
	position: relative;
	font: 65px Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: rgba(0,0,255,0.5); 
}

h2:after {
	content: "Flip now";
	position: absolute; left: -4px; top: 2px;
	color: rgba(255,0,0,0.5);   
}

.everycenter{
    border-radius: 30px;
    text-align: center;
    background: #C9E4D6;
    width: 480px;
    height: 600px;
    margin-top: 100px;
}

.flipNow{
    padding: 50px;
    font-weight: 600;
}

.guesswhat{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttonsap{
    padding: 8px 25px 8px 25px;
}

.buttonngua{
    padding: 8px 17px 8px 17px;
}

.ketqua{
    padding: 30px;
}